<!DOCTYPE html>
<html lang="en">
</head>
<body class="container">

<main>
 <div style="padding-top:15%; padding-left:35%;">

  <form name="form1" method="POST" action="/docs/authenticated">
  <div style="font-size:24px;"><b >Fleet Service Login</b></div>
  <table style="border:1px solid; padding:20px; margin-top:20px;">
   <tr>
   <td style="padding:20px;">Username</td>
   <td><input type="text" name="username" /></td>
   </tr>
   <tr>
   <td style="padding-left:20px;">Password</td>
   <td><input type="password" name="password" /></td>
   </tr>
   <tr>
   <td  style="padding-left:35%; padding-top:20px;" colspan="2"><input style="width:80px; height:25px;" type="submit" value="Login" /></td>
   </tr>
  </table>
  </form>
 </div>
</main>

</body>
</html>